{%- if section.blocks.size > 0 -%}
  {%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
  CSS
  ------------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}
  <style>
    :root {
      --sticky-announcement-bar-enabled: {%- if section.settings.enable_sticky -%}1{% else %}0{% endif %};
    }

    {%- if section.settings.enable_sticky -%}
      #shopify-section-{{ section.id }} {
        position: sticky;
        top: 0;
        z-index: 20;
      }

      .shopify-section--header ~ #shopify-section-{{ section.id }} {
        top: calc(var(--sticky-header-enabled, 0) * var(--header-height, 0px));
      }
    {%- endif -%}
  </style>

  {%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
  LIQUID
  ------------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  <height-observer variable="announcement-bar">
    <div {% render 'surface', class: 'announcement-bar', background_gradient: section.settings.background_gradient, background: section.settings.background, text_color: section.settings.text_color %}>
      <div class="container">
        <div class="announcement-bar--columns align-center">
          <div class="announcement-bar--column col-left flex-align-center {{ section.settings.text_size }}">
            {%- if section.settings.announcement_left_icon_desktop_1 != blank -%}
              <div class="announcement-bar--left-icon{% if section.settings.announcement_left_icon_mobile_1 != blank %} md-max:hidden md:flex{% endif %}">
                <img
                  loading="lazy"
                  src="{{ section.settings.announcement_left_icon_desktop_1 | img_url: 'master' }}"
                  alt="{{ section.settings.announcement_left_icon_desktop_1.alt }}">
              </div>
            {%- endif -%}
            {%- if section.settings.announcement_left_icon_mobile_1 != blank -%}
              <div class="announcement-bar--left-icon{% if section.settings.announcement_left_icon_desktop_1 != blank %} md:hidden{% endif %}">
                <img
                  loading="lazy"
                  src="{{ section.settings.announcement_left_icon_mobile_1 | img_url: 'master' }}"
                  alt="{{ section.settings.announcement_left_icon_mobile_1.alt }}">
              </div>
            {%- endif -%}
            {%- if section.settings.announcement_left_text_desktop != blank -%}
              <div class="announcement-bar--left-text md-max:hidden">
                {{ section.settings.announcement_left_text_desktop }}
              </div>
            {%- endif -%}
            {%- if section.settings.announcement_left_text_mobile != blank -%}
              <div class="announcement-bar--left-text md:hidden">
                {{ section.settings.announcement_left_text_mobile }}
              </div>
            {%- endif -%}
          </div>
          {%- if section.settings.navigation_mode == 'scrolling' -%}
            <marquee-text scrolling-speed="{{ section.settings.scrolling_speed }}" class="announcement-bar__scrolling-list">
              {%- capture content -%}
                {%- for block in section.blocks -%}
                  <p class="bold {{ section.settings.text_size }}" {{ block.shopify_attributes }}>
                    {%- if block.settings.url != blank -%}
                      <a href="{{ block.settings.url }}">{{ block.settings.text | escape }}</a>
                    {%- else -%}
                      {{ block.settings.text | escape }}
                    {%- endif -%}
                  </p>

                  <span class="shape-circle shape--sm"></span>
                {%- endfor -%}
              {%- endcapture -%}

              {%- for i in (1..10) -%}
                <span class="announcement-bar__item" {% unless forloop.first %}aria-hidden="true"{% endunless %}>
                  {{- content -}}
                </span>
              {%- endfor -%}
            </marquee-text>
          {%- else -%}
            <div class="announcement-bar__wrapper {% if section.blocks.size == 1 %}justify-center{% else %}justify-between{% endif %}">
              {%- if section.blocks.size > 1 -%}
                <button class="tap-area sm-max:hidden" is="prev-button" aria-controls="announcement-bar" aria-label="{{ 'general.accessibility.previous' | t }}">
                  {%- render 'icon' with 'chevron-left', direction_aware: true -%}
                </button>
              {%- endif -%}

              <announcement-bar swipeable id="announcement-bar" class="announcement-bar__static-list">
                {%- for block in section.blocks -%}
                  <p class="bold {{ section.settings.text_size }} {% unless forloop.first %}reveal-invisible{% endunless %}" {{ block.shopify_attributes }}>
                    {%- if block.settings.url != blank -%}
                      <a href="{{ block.settings.url }}">{{ block.settings.text | escape }}</a>
                    {%- else -%}
                      {{ block.settings.text | escape }}
                    {%- endif -%}
                  </p>
                {%- endfor -%}
              </announcement-bar>

              {%- if section.blocks.size > 1 -%}
                <button class="tap-area sm-max:hidden" is="next-button" aria-controls="announcement-bar" aria-label="{{ 'general.accessibility.next' | t }}">
                  {%- render 'icon' with 'chevron-right', direction_aware: true -%}
                </button>
              {%- endif -%}
            </div>
          {%- endif -%}
          <div class="announcement-bar--column col-right flex-align-center justify-end {{ section.settings.text_size }}">
            {%- if section.settings.announcement_right_menu != blank -%}
              {%- assign announcement_menu = linklists[section.settings.announcement_right_menu] -%}
              <div class="md-max:hidden">
                <nav class="announcement-bar--nav flex-align-center hidden-pocket">
                  {%- for item in announcement_menu.links -%}
                    <a href="{{ item.url }}">{{ item.title }}</a>
                  {%- endfor -%}                
                </nav>
              </div>
            {%- endif -%}

            {%- if section.settings.announcement_right_icon_1 != blank -%}
              <div class="announcement-bar--right-icon">
                <img
                  loading="lazy"
                  src="{{ section.settings.announcement_right_icon_1 | img_url: 'master' }}"
                  alt="{{ section.settings.announcement_right_icon_1.alt }}">
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </height-observer>

  <script>
    document.documentElement.style.setProperty('--announcement-bar-height', Math.round(document.getElementById('shopify-section-{{ section.id }}').clientHeight) + 'px');
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Announcement bar",
  "class": "shopify-section--announcement-bar",
  "tag": "aside",
  "max_blocks": 5,
  "blocks": [
    {
      "type": "message",
      "name": "Message",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Announce something here"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky",
      "label": "Enable sticky bar",
      "default": false
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text size",
      "options": [
        {
          "value": "text-xxs",
          "label": "X-Small"
        },
        {
          "value": "text-xs",
          "label": "Small"
        },
        {
          "value": "text-base",
          "label": "Medium"
        },
        {
          "value": "text-lg",
          "label": "Large"
        }
      ],
      "default": "text-xs"
    },
    {
      "type": "select",
      "id": "navigation_mode",
      "label": "Multiple message navigation",
      "options": [
        {
          "value": "arrows",
          "label": "Arrows"
        },
        {
          "value": "scrolling",
          "label": "Auto-scrolling"
        }
      ],
      "default": "arrows"
    },
    {
      "type": "range",
      "id": "scrolling_speed",
      "label": "Scrolling speed",
      "min": 10,
      "max": 30,
      "unit": "s",
      "default": 20
    },
    {
      "type": "header",
      "content": "Left edge"
    },
    {
      "type": "image_picker",
      "id": "announcement_left_icon_desktop_1",
      "label": "Icon 1"
    },
    {
      "type": "image_picker",
      "id": "announcement_left_icon_mobile_1",
      "label": "Icon mobile 1"
    },
    {
      "type": "liquid",
      "id": "announcement_left_text_desktop",
      "label": "Text desktop"
    },
    {
      "type": "liquid",
      "id": "announcement_left_text_mobile",
      "label": "Text mobile"
    },
    {
      "type": "header",
      "content": "Right edge"
    },
    {
      "type": "link_list",
      "id": "announcement_right_menu",
      "label": "Menu"
    },
    {
      "type": "image_picker",
      "id": "announcement_right_icon_1",
      "label": "Icon 1"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    }
  ]
}
{% endschema %}